* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Inicio de Formato de Menu */
.navbar--modificada {
  background-color: #05668d; }

.btn-primary--modificado {
  color: whitesmoke;
  background-color: #3DACDD;
  border-color: #3D5B94; }

.card--modificado {
  align-items: center;
  background-color: whitesmoke;
  width: 100%; }

.dropdown-item--modificado {
  color: rgba(255, 255, 255, 0.55); }

.dropdown-item.active,
.dropdown-item:active {
  background-color: #3DACDD; }

.dropdown-menu--modificado {
  background-color: #05668d; }

.carousel-dark .carousel-caption {
  color: whitesmoke; }

/* Fin de Formato de Header */
/* Inicio de Formato contenido Main */
section {
  color: #028090; }

main h1,
h2,
h3,
h5,
h6,
p,
i {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 1% 7%;
  display: flex;
  justify-content: center;
  color: #028090;
  width: 100%; }

.lista_section {
  text-align: left; }

/* Fin de Formato contenido Main */
/* Inicio de Footer */
footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  height: 50px;
  background-color: #02C39A;
  width: 100%; }
  footer .copyright a {
    display: flex;
    color: whitesmoke;
    text-decoration: none;
    justify-content: center; }
  footer .social a {
    font-size: 1.4em;
    float: left;
    line-height: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 20%; }
  footer .social .linked {
    background-color: #1E83AE; }
  footer .social .tweet {
    background-color: #3DACDD; }
  footer .social .face {
    background-color: #3D5B94; }

/* Fin de Footer */
/* transformaciones para Tablet y celular */
@media (max-width: 768px) {
  html {
    font-size: 70%; }
  footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 1px 0; }
  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02C39A;
    width: 50%;
    float: right;
    width: 100%; } }
