@import "./components/variables";
@import "./components/extends";
@import "./components/maps";
@import "./components/mixins";
@import "./components/mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Inicio de Formato de Menu */

.navbar--modificada {
    background-color: $navbar-color;
}

.btn-primary--modificado {
    color: whitesmoke;
    background-color: #3DACDD;
    border-color: #3D5B94;
}

.card--modificado {
    border-radius: 0.5cm;
   @extend %mods--card--modificado;
}

.dropdown-item--modificado {
    color: rgba(255, 255, 255, .55);
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #3DACDD;
}

.dropdown-menu--modificado {
    background-color: $navbar-color;
}

.carousel-dark .carousel-caption {
    color: whitesmoke;
}

/* Fin de Formato de Header */

/* Inicio de Formato contenido Main */

section {
    color: $principal-text-color;
}

h4{
    color:rgba(17, 15, 15, 0.7)
}

main h1,
h2,
h3,
h5,
h6,
p,
i {
    @include mainTextFormat ('Open Sans', sans-serif, center, 1%, 7%, block, center, $principal-text-color, 100%);
}

.lista_section {
    @include mainTextFormat ($tAling: left);    
}

/* Fin de Formato contenido Main */

/* Inicio de Footer */

footer {
    display: map-get($footer , display);
    grid-template-rows: map-get($footer, grid-template-rows);
    grid-template-columns: map-get($footer , grid-template-columns);
    height: map-get($footer , height);
    background-color: map-get($footer, background-color);
    width: map-get($footer, width);


    .copyright {

        a {
            display: flex;
            color: whitesmoke;
            text-decoration: none;
            justify-content: center;
        }
    }

    .social {

        a {
            font-size: 1.4em;
            float: left;
            line-height: 50px;
            text-decoration: none;
            color: white;
            text-align: center;
            font-weight: bold;
            width: 20%;
        }

        .linked {
            background-color: #1E83AE;
        }

        .tweet {
            background-color: #3DACDD;
        }

        .face {
            background-color: #3D5B94;
        }
    }
}

/* Fin de Footer */

@import "./components/mediaQueries";