%mods--card--modificado{
    .card--modificado {
        align-items: center;
        background-color: whitesmoke;
        width: 100%;
        border-color: #3D5B94;
        border-radius: 0.5cm
    }
}